body {
    background-color: #f7f7f7;
    font-family: SourceHanSansCN;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.top {
    height: 88px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.top .center {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.top img {
    margin-top: 24px;
}

.user {
    line-height: 88px;
}

.btn {
    width: 100px;
    height: 36px;
    border-radius: 18px;
    display: inline-block;
     
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    cursor: pointer;
}

.btn_blue {
    background-image: linear-gradient(90deg, #3771fe 0%, #5899fe 100%), linear-gradient( #4182fa, #4182fa);
    background-blend-mode: normal, normal;
    color: #ffffff;
}

.brief_introduce {
    height: 242px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(75, 91, 138, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 17px;
    margin: 20px auto;
}

.pic_part {
    width: 530px;
    height: 208px;
}

.txt_part {
    width: 607px;
    height: 208px;
    font-family: 'SourceHanSansCN';
    font-weight: normal;
    font-stretch: normal;
    padding-top: 17px;
}

.txt_part h4 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #1f2328;
}

.txt_part p {
    height: 100px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #303943;
    opacity: 0.8;
    margin-top: 14px;
}

.btn_rect {
    width: 145px;
    height: 50px;
    border-radius: 2px;
    border: solid 1px #dddddd;
     
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: 2px;
    color: #000000;
    opacity: 0.9;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.rect_blue {
    background-color: #4182fa;
    color: #ffffff;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main_l {
    width: 913px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(75, 91, 138, 0.1);
    padding-bottom: 30px;
}

.l_title,
.r_title {
    height: 50px;
    background-color: #ffffff;
}

.l_title div {
    text-align: center;
    /* width: 140px; */
    display: inline-block;
}

.l_title h5 {
     padding: 0 20px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 47px;
    letter-spacing: 2px;
    color: #263238;
    opacity: 0.87;
}

.l_title span {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 3px;
    background-color: #263238;
    opacity: 0.87;
}

.l_step {
    padding: 0 34px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 2px;
}

.cell {
    margin-top: 40px;
}

.cell_title {
    color: #333333;
}

.cell_title span {
    display: inline-block;
    border-bottom: 8px solid rgba(0, 136, 240, .1);
    font-size: 24px;
    height: 25px;
}

.cell>p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 27px;
    color: #263238;
    opacity: 0.87;
    margin-top: 24px;
}
.cell>p>span{
    display: block;
    text-align: center;
}
table{
    width: 852px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #ebebeb;
}
table caption{
    font-weight: normal;
	font-stretch: normal;
	line-height: 27px;
	letter-spacing: 1px;
	color: #263238;
	opacity: 0.54;
}
table thead{
    background-color: #f9f9f9;
    color: rgba(38, 50, 56,.54);
}
.pic_list>div{
    display: flex;
}
.pic_list{
    padding-top: 20px;
}
.pic_list p {
    font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 27px;
	letter-spacing: 1px;
	color: #263238;
    opacity: 0.54;
    text-align: center;
    margin-bottom: 33px;
}
.pic{
    width: 397px;
	height: 302px;
	background-color: #ffffff;
    border: dashed 1px #263238;
    margin-right: 10px;
    padding: 10px;
}

.lenged{
    width: 147px;
	height: 29px;
	background-color: #263238;
    border-radius: 3px;
    font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 29px;
	letter-spacing: 1px;
    color: #ffffff;
    margin: -24px auto;
    text-align: center;
}
.pic img{
    margin-top: 27px;
}
.l_step p{
    opacity: 0.87;
    margin-top: 24px;
}
.l_step .last{
    opacity: 0.54;
}
/* 主体右 */

.main_r {
    width: 269px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(75, 91, 138, 0.1);
     
    text-indent: 19px;
}
.r_title h5{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 50px;
	letter-spacing: 2px;
	color: #333333;
}
.catalog div,
.expand{
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    line-height: 50px;
    align-items: center;
    cursor: pointer;
}
.arrow{
    width: 20px;
	height: 20px;
    background: url(../img/arrow.png) no-repeat left center;
    margin-right: 17px;
}
.click div{
    background-color: #fff;
}
.click .arrow{
    background: url(../img/arrow.png) no-repeat right center;
}
.expand{
    display: none;
    background-color: #fff;
}
.click ul{
    display: block;
}
.expand li:hover{
    background-color: #f7f7f7;
}
/* 页脚 */
.footer{
    text-align: center;
    margin-top: 48px;
    height: 52px;
    line-height: 52px;
     
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #000000;
	opacity: 0.65;
}
.footer>span{
    width: 680px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
p{
    text-indent: 2em;
    text-align: justify;
}
.list li{
    padding-left: 20px;
    color: #263238;
}
#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9,
#p10,
#p11,
#p12{
    display: none;
}
#p1:target,
#p2:target,
#p3:target,
#p4:target,
#p5:target,
#p6:target,
#p7:target,
#p8:target,
#p9:target,
#p10:target,
#p11:target,
#p12:target{
    display: block;
}